main {
    max-width: 40%;
    margin: 4em auto 2em auto;
    padding: 1.5em;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

@media (max-width: 1200px) {
    main {
        max-width: 60%;
    }
}

@media (max-width: 500px) {
    main {
        max-width: 95.5%;
        padding: 10px;
    }
}

main:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

// CSS grid used for the dates
.day-of-week,
.date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

// Styles for the weekday/weekend header
.day-of-week {
    margin-top: 0.5em;
}

.day-of-week>* {
    font-size: 0.7em;
    color: var(--blue-grey-400);
    letter-spacing: 0.1em;
    font-variant: small-caps;
    text-align: center;
}


/* Dates */

.date-grid {
    margin-top: 0.5em;
}

// Style for each day
.date-grid button {
    border: 0;
    width: 4.5ch;
    height: 4.5ch;
    border-radius: 50%;
    background-color: transparent;
    color: var(--blue-grey-600);
    text-align: center;
}

.date-grid button:hover,
.date-grid button:focus {
    outline: none;
    background-color: var(--blue-grey-050);
    color: var(--blue-grey-700);
}

.date-grid button:active,
.date-grid button.is-selected {
    background-color: var(--purple-100);
    color: var(--purple-900);
}