footer {
    font-size: 12px;
    grid-area: footer;
    padding: 1rem;
    background-color: #333333;
    color: white;
    text-align: center;
    box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.2);
    .github {
        width: 120px;
    }
    .gitPat {
        width: 95px;
    }
    .aws {
        margin-left: 20px;
        width: 75px;
    }
    .heroku {
        margin-left: 20px;
        width: 38px;
    }
}

@media (max-width: 500px) {
    footer {
        padding: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}