  .window {
      position: fixed;
      background-color: rgba(19, 19, 19, 0.25);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 99999999;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s;
      text-align: center;
      &:target {
          visibility: visible;
          opacity: 1;
          pointer-events: auto;
      }
      &>div {
          width: 400px;
          max-width: 400px;
          max-height: 80%;
          overflow-y: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 2em;
          background: #ffffff;
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      }
      header {
          font-weight: bold;
      }
      h1 {
          font-size: 150%;
          margin: 0 0 15px;
          color: var(--pink-A200);
      }
      .modal-close {
          color: #aaa;
          line-height: 50px;
          font-size: 80%;
          position: absolute;
          right: 0;
          text-align: center;
          top: 0;
          width: 70px;
          text-decoration: none;
          &:hover {
              color: black;
          }
      }
      img {
          width: 100px;
      }
  }
  
  @media (max-width: 500px) {
      .window div {
          width: 300px;
      }
  }