header {
    width: 100%;
    display: inline-block;
}


/** NAVIGATION BAR */

nav {
    overflow: hidden;
    background-color: var(--purple-700);
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    ul {
        list-style-type: none;
        margin: 0;
        padding: 15px;
        li {
            display: inline;
            font-size: 17px;
            a {
                color: white;
                text-decoration: none;
                padding: 14px;
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
                &:hover {
                    color: var(--pink-A200);
                }
                .lastLink {
                    margin-right: 17%;
                }
                img {
                    display: inline-block;
                    margin-left: 17%;
                    width: 30px;
                    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
                }
                img:hover {
                    content: url('../assets/img/logo-top.png');
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    nav ul li img {
        margin-left: 6%;
    }
}

@media (max-width: 500px) {
    nav ul li img {
        margin: 5px;
    }
}