header {
    width: 100%;
    display: inline-block;
}


/** NAVIGATION BAR */

nav {
    overflow: hidden;
    background-color: var(--purple-700);
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    z-index: 99999998;
    ul {
        list-style-type: none;
        display: inline-flex;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 20px;
        li {
            display: inline;
            font-size: 17px;
            align-self: center;
            img {
                display: inline-flex;
                margin-left: 17%;
                width: 30px;
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
                padding-right: 10px;
            }
            img:hover {
                content: url('../assets/img/logo-top.png');
            }
            a {
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
            }
        }
    }
}

.links {
    color: white;
    text-decoration: none;
    padding: 15px;
}

.links:hover {
    color: var(--pink-A200);
}