#table_component{
    text-align: center;
    #table{
        display: flex;
        grid-gap: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        grid-template-columns: auto ;
        grid-template-areas: 'modal-scene';
        margin-top: 40px;
        justify-content: center;
        align-items: center;
        .modal_scene{
            display: flex;
            flex-direction: row;
            align-items: center;
            .btn {
                flex-grow: 2;
                background-color: #fff;
                padding: 1em 1.5em;
                border-radius: 3px;
                text-decoration: none;
        }
    }
}
}