@font-face {
    font-family: 'GoogleSans';
    src: url("../assets/fonts/GoogleSans/ProductSans-Regular.ttf");
}

html {
    font-size: 125%;
    line-height: 1.4;
    font-weight: 400;
    color: var(--blue-grey-900);
}

body {
    font-family: 'GoogleSans';
    margin: 0;
    min-height: 100vh;
    background: var(--blue-grey-100);
}

// Colors used
:root {
    --purple-050: #f3e5f5;
    --purple-100: #e1bee7;
    --purple-200: #ce93d8;
    --purple-300: #ba68c8;
    --purple-400: #ab47bc;
    --purple-500: #9c27b0;
    --purple-600: #8e24aa;
    --purple-700: #7b1fa2;
    --purple-800: #6a1b9a;
    --purple-900: #4a148c;
    --purple-A100: #ea80fc;
    --purple-A200: #e040fb;
    --purple-A400: #d500f9;
    --purple-A700: #aa00ff;
    --blue-grey-050: #f0f4f8;
    --blue-grey-100: #d9e2ec;
    --blue-grey-200: #bcccdc;
    --blue-grey-300: #9fb3c8;
    --blue-grey-400: #829ab1;
    --blue-grey-500: #627d98;
    --blue-grey-600: #486581;
    --blue-grey-700: #334e68;
    --blue-grey-800: #243b53;
    --pink-grey-900: #102a43;
    --pink-050: #fce4ec;
    --pink-100: #f8bbd0;
    --pink-200: #f48fb1;
    --pink-300: #f06292;
    --pink-400: #ec407a;
    --pink-500: #e91e63;
    --pink-600: #d81b60;
    --pink-700: #c2185b;
    --pink-800: #ad1457;
    --pink-900: #880e4f;
    --pink-A100: #ff80ab;
    --pink-A200: #ff4081;
    --pink-A400: #f50057;
    --pink-A700: #c51162;
}

main {
    max-width: 40%;
    margin: 3em auto 0 auto;
    padding: 1.5em;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

@media (max-width: 1200px) {
    main {
        max-width: 60%;
    }
}

@media (max-width: 500px) {
    main {
        max-width: 95.5%;
    }
}

main:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

// CSS grid used for the dates
.day-of-week,
.date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

// Styles for the weekday/weekend header
.day-of-week {
    margin-top: 0.5em;
}

.day-of-week>* {
    font-size: 0.7em;
    color: var(--blue-grey-400);
    font-weight: 500;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    text-align: center;
}


/* Dates */

.date-grid {
    margin-top: 0.5em;
}


/* Positioning the first day */

.date-grid button:first-child {
    grid-column: 5;
}

// Style for each day
.date-grid button {
    position: relative;
    border: 0;
    width: 4.5ch;
    height: 4.5ch;
    border-radius: 50%;
    background-color: transparent;
    color: var(--blue-grey-600);
    text-align: center;
}

.date-grid button:hover,
.date-grid button:focus {
    outline: none;
    background-color: var(--blue-grey-050);
    color: var(--blue-grey-700);
}

.date-grid button:active,
.date-grid button.is-selected {
    background-color: var(--purple-100);
    color: var(--purple-900);
}

@import 'navbar';
@import 'main';
@import 'footer';
@import 'modal';